
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:5%;
}

#header{
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
}

#header>h1{
    font-size: 64px;
    margin-bottom: -17px;
}

#header>h2{
    display:flex;
    font-size:20px;
    padding-bottom:0%;
    margin-bottom:0%;
    justify-content:flex-end;
    align-items:flex-end;
}

#socialmedia-icons{
    display:flex;
    padding-bottom:0%;
    margin-left:0%;
    margin-bottom:0%;
    justify-content:flex-end;
    align-items:flex-end;
    justify-content: space-between;

    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2px;
}

.socialmedia-icon{
    width:30px;
}

#navigation-bar{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-bar>p{
    margin-right: 3px;
    margin-left: 3px;
    font-weight:bold;
}

#navigation-bar>a:any-link{
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
}

#about{
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#about>p{
    font-size: 24px;
    margin-top:20px;
    margin-bottom:0%;
}

#slide-show{
    display: grid;
    background-color: black;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:0%;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 5px;
}

#slide-show>img{

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width:180px;
}

#content{
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top:0px;
    background-color: lightgray;
    border-radius: 5px;
}

#content-text{
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 20px;
}

#content-text>h1{
    font-size: 64px;
    text-align:right;
    padding-top:20px;
    padding-bottom:0px;
    margin-bottom:-14px;
}

#content-text>hr{
    padding-top: 0%;
    margin-top:0%;
    margin-left:50%;
    border: 3px solid black;
}

#content-text>p{
    font-size:18px;;
}